[submodule "themes/purer"]
	path = themes/purer
	url = https://github.com/fengkx/hexo-theme-purer
[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/blinkfox/hexo-theme-matery.git
